.wishlistBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.3rem;
  transition: 250ms ease-in-out;
  transition-property: background-color, box-shadow;
}

.wishlistBtn:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: hsla(0, 0%, 100%, 0.66);
}
