.maximumNotice {
  font-size: 12px;
  margin-bottom: 7px;
}

.wishlistBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: white;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wishlistBtn:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
